body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Partizoni';
  src: url('./ManchesterUnited24-25Tipografstore.otf') format('opentype');
}

@font-face {
  font-family: 'Cinzel';
  src: url('./Cinzel-Regular.otf') format('opentype');
}

#basic-nav-dropdown{
  font-size:1.2rem;
  color:white;
 
}

#basic-nav-dropdown > *{
  background-color:rgb(222, 21, 21)
}



.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;     
  padding: 0;
  border: 2px solid white; 
  border-radius: 50%;
  font-size: 1.5rem; 
  color: white;
  text-decoration: none;
  user-select:none;
}



.social-icon:hover {
  background-color:rgb(255, 255, 255);
  color:rgb(229, 0, 0);
  transition:0.5s ease
}






.container-fluid{
  box-sizing:content-box
}

.section-header{
  font-family:'Cinzel';
  color:white;
  justify-content:center;
  font-size:1.5rem;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,90,90,1) 20%, rgba(255,0,0,1) 50%, rgba(255,90,90,1) 80%, rgba(255,255,255,1) 100%);
  margin-bottom:20px;
  letter-spacing:0.35rem;
  user-select:none
}

.match-box{
  position:relative;
  display:flex;
  flex-direction:column;
  text-wrap:nowrap;
  padding:7px 0;
  margin-bottom:13px !important;
  background:linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(232,232,232,1) 100%);
}

.match-box>*{
  user-select:none
}

.match-box::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: linear-gradient(90deg, rgba(255,253,221,1) 0%, rgba(255,232,216,1) 100%);
  z-index: 0;
  opacity: 0;
  transition: 0.4s ease;
  
}

.match-box:hover::before {
  opacity: 1;
  transition: 0.4s ease;
}

.color-span{
 
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    margin-right:10px
}

.team-row{
  display: flex;
  justify-content:space-between;
  padding: 10px; 
  position:relative;
  background: linear-gradient(90deg, rgb(241, 241, 241) 0%, rgb(243, 243, 243) 100%);
}

.diamond-top{
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid transparent;
    
  }

  .diamond-bottom{
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    position: absolute;
    top:-0.97em;
    
  }

  .form-control:focus {
    border-color: #ffb1b1 !important;
    box-shadow: 0 0 0 0.25rem rgba(255, 71, 74, 0.5) !important;
  }

  
@media screen and (min-width:991px) and (max-width:1050px){
  .social-icon {
    font-size:1rem;
    width:25px;
    height:25px
}
}

@media screen and (min-width:991px) and (max-width:1002px){
  .navbar-brand-text{
    font-size:2.4rem;
  
}
}




div.dropdown-menu.show {
    background-color: #c80000 !important;
    align-items: center;
  }

  
  a.dropdown-item {
    color: #ffffff;   
  }

  .dropdown-menu a {
    color: white; 
    text-decoration: none; 
    transition: 0.3s ease;
  }
  
  .dropdown-menu a:focus, 
  .dropdown-menu a:hover,
  .dropdown-menu a:active {
    color: rgb(55, 55, 55); 
    background-color: rgb(255, 255, 186); 
    outline: none;
    transition: 0.5s ease
  }

  .navbar-toggler{
      margin-right:10px;
  }
 
@media screen and (max-width: 991px) {
    .navbar-nav {
        background-image: linear-gradient(90deg, rgba(254, 0, 0, 1) 0%, rgba(208, 0, 0, 1) 100%);
       padding:10px !important;
       margin:0;
       border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    
    }

    

    a.dropdown-item{
        text-align:center;
    }

    div.container-fluid{
        padding:0;
    }

    .social-container{
        display: flex;
        justify-content: center;
        margin-top:10px;
    }
    
    .nav-link:hover{
      background-color:rgb(167, 15, 15);
      transition: 0.5s ease;
    }
}



@media screen and (max-width: 534px) {
    
    .navbar-brand-text {
        display: none;
        pointer-events: none;
    }

.container-fluid{
      display:flex;
      justify-content:center !important;
    }
   
}